/* Styles for editor analysis page */
p {
    text-align: center;
    text-justify: inter-word;
    font-size: 20px;
}

body {
    background-color: #FFF8DC;
}

h1 {
    font-size: 70px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

img {
    display: block;
    margin: 0 auto;
}
